process {
    withName: convertFastqToBam {
        container = "public.ecr.aws/biocontainers/picard:3.1.1--hdfd78af_0"
    }
    withName: alignment_snake {
        container = "quay.io/hdc-workflows/nanopore-alignment-snake:d448835"
    }
    withName: minimap2_index {
        container = "quay.io/biocontainers/minimap2:2.28--he4a0461_3"
    }
}

params {
    input = false
    outdir = false
    refgenome = false
    refgenome_faidx = false
    transcript_reference = false
    bed = false
    project = "my_project"
    member = "my_member"
    flowcell = "my_flowcell"
    kit = "my_kit"
    methylation = "5mCG_5hmCG"
    target_gene = "SLC37A4"
    strategy = "cDNA"
    qc_caller = "cramino" // Optionally set to 'samtools'
}