process {
    executor = 'awsbatch'
    errorStrategy = 'ignore'
    maxRetries = 3
    withName: convertFastqToBam {
        cpus = { 2 * task.attempt }
        memory = { 4.GB * task.attempt }
    }
    withName: minimap2_index {
        cpus = { 8 * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withName: alignment_snake {
        cpus = { 4 * task.attempt }
        memory = { 8.GB * task.attempt }
    }
}
